*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F8F8FD;
    flex-direction: column;
    gap: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* header */
.name-display{
    padding: 1rem 0.5rem;
    color: #128f42;
}
.input-container{
    position: absolute;
    top: 4rem;
}

.container{
    padding: 1rem;
    overflow: hidden;
    border-radius: .3rem;
    background-color: white;
    width: min(80vw , 650px);
    box-shadow: 0px 0px 10px 2px #939bbdad;
}

.absolute-ctn{
    position: absolute;
    top: 11rem;
}

.inputField{
    
    display: flex;
    /* flex-wrap: wrap; */
    gap: 1rem;
}


#UserName{
    width: 90%;
    border-radius: 0.5rem;
    color: #4949C1;
    border: 1px solid #9494DF;
    font-size: 1rem;
    padding: 13px 66px 13px 16px;
    background-color: rgb(247 248 250);
    box-shadow: inset 0px 0px 9px 1px #dee1e778 , 0px 0px 9px 1px #dee1e778;
    cursor:text;
    transition: border 0.3s ease;
}

#UserName:hover{
    border: 1px solid #4949C1;
}
#UserName:focus{
    outline: 1px solid #4949C1;

}


#search-btn{
    flex-shrink: 0;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    background-color: #4949C1;
    padding: 4px 20px;
    color: white;
    border: none;
    box-shadow: 0px 0px 3px 2px #848aff66;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}

#search-btn:hover{
    background-color: #6565d7;
}


/* circle section  */

.circle-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-bottom: 1px solid #4040a96b;
    border-top: 1px solid #4040a96b;
}

.right-circle-container{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-circle-container{
    border-left: 1px solid #4040a96b;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.progress-right{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
}

.progress-ring__circle-right{
    stroke-dasharray: 453;
    stroke-dashoffset: 453;
    stroke-linecap: round;
    
}

.progress-ring-easy{
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
}

.progress-ring-medium{
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
}

.progress-ring-hard{
    stroke-dasharray: 314;
    stroke-dashoffset: 314;
}

#easy{
    stroke: rgb(4, 114, 158);
    stroke-width: 1px;
}
#medium{
    stroke: rgb(224, 172, 32);
    stroke-width: 1px;
}
#hard{
    stroke: rgb(255, 0, 0);
    stroke-width: 1px;
}
#Acc{
    stroke: rgb(180, 13, 218);
    stroke-width: 1px;
}

/* cards section  */
.other-stats{
    padding: 1rem 0.5rem;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    align-items: center;
    gap: 15px;
}
.cards{
    font-size: 1rem;
    font-weight: 600;
    background-color: #be48c7;
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 3px 1px #bfc6e0b3,
                -1px -1px 3px 1px #bfc6e0b3;
    
}

.easy{
    background-color: green;
}
.medium{
    background-color: orange;
}
.hard{
    background-color: red;
}


.rank{
    background-color: #3e2eb9;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

@media screen and (max-width:700px){

    .other-stats{
        grid-template-columns: repeat(2 , 1fr);
    }
    
}